@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@{
    var helpers = CreateInstance("_helpers.cshtml");
}
<div class="co-cta-wrapper @Content.Presentation.Background" @helpers.WrapperStyle(Content.Presentation)>
  <div class="container-fluid" @Edit.TagToolbar(Content, toolbar: new [] { "settings&hover=left&autoAddMore=start" })>
    @if(Content.Presentation.Background == "co-cta-backgroundimage-overlay") {
      <div class="backgroundimage-overlay"></div>
    }
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="co-cta @Content.Presentation.TextColor @Content.Presentation.TextAlignment">
          @if(Content.Presentation.HeadingType != "hide") {
            @Tag.Custom(Content.Presentation.HeadingType, Content.Title)
          }
          @if(Text.Has(Content.Text)) {
            <div class="co-cta-text">
              @Html.Raw(Content.Text)
            </div>
          }
          <div class="co-cta-buttons">
            @{ int i = 0; }
            @foreach (var button in Content.Buttons)
            {
              <a href="@button.ButtonLink" class='btn co-cta-btn @(i == 0 ? "co-cta-btn-first" : "co-cta-btn-second")' target="@button.ButtonTarget">@button.ButtonText</a>
              i++;
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="@App.Path/dist/styles.min.css" data-enableoptimizations="true">
