@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@{
    var helpers = CreateInstance("_Helpers.cshtml");
    var presentation = Content.Presentation;
}
<div class='container-fluid app-cta-wrapper mb-4 @(Text.Has(presentation.BackgroundImage) ? "" : presentation.Background)'
  @helpers.WrapperStyleAttribute(presentation)
  @Edit.TagToolbar(Content, toolbar: new [] { "settings&hover=left&autoAddMore=start" })
  >
  <div class="backgroundimage-overlay" style='@(presentation.ShowImageOverlay ? "display: block" : "display: none")'></div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2 app-cta @presentation.TextColor @presentation.TextAlignment">
      @if(presentation.HeadingType != "hide") {
        @Tag.Custom(presentation.HeadingType, Content.Title)
      }
      @if(Text.Has(Content.Text)) {
        <div class="app-cta-text">
          @Html.Raw(Content.Text)
        </div>
      }
      <div class="app-cta-buttons">
        @foreach (var btn in Content.Buttons) {
          <a href="@btn.ButtonLink" class="btn app-cta-btn" target="@btn.ButtonTarget">@btn.ButtonText</a>
        }
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="@App.Path/dist/styles.min.css" data-enableoptimizations="true">
