@if(!String.IsNullOrEmpty(Content.Title)) {
  <h2>@Content.Title</h2>
}
@if(!String.IsNullOrEmpty(Content.Text)) {
  <div class="co-cta-text">
    @Html.Raw(Content.Text)
  </div>
}
<div class="co-buttons">
  @{ int i = 0; }
  @foreach (var button in Content.Buttons)
  {
    <a href="@button.ButtonLink" class='btn co-cta-btn @(i == 0 ? "co-cta-btn-first" : "co-cta-btn-second")' target="@button.ButtonTarget">@button.ButtonText</a>
    i++;
  }
</div>